<h1>Item: <%= @item.identifier %></h1>

<p>
  Object Type: 
  <%= link_to @item.object_model_name, @item.object_model %>
</p>

<h2>Property Values</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Value<th>
  </tr>
<% @item.property_values.each do |property_value| %>
  <tr>
    <td><%= property_value.name %></td>
    <td><%= property_value.value %></td>
  </tr>
<% end %>
</table>
